/*PHOTOGRAPHE HEADER*/

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}
.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.photograph-header h1{
    width: 150px;
    color: #D3573C;
}
.photograph-header h2{
  color : #901C1C;
}

/*GALERIE*/
.photograph-gallery{
    margin: 100px;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    row-gap: 60px;
    column-gap: 130px;
    color: #901C1C;
}

.photograph-gallery img{
    width: 350px;
    height: 300px;
    border-radius: 5px;
}
.photograph-gallery video{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/* MODAL DE CONTACT */
#contact_modal {
    background-color:#fafafad5;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50px;
    top: 50px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modalBox {
    border-radius: 5px;
    background-color: #DB8876;
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.identity {
    display: flex;
    flex-direction: column;
}

.nom{
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}

.modalBox header {
    justify-content: space-between;
    width: 100%;
}

.modalBox header img {
    cursor: pointer;
}

.modalBox header h2 {
    font-size: 45px;
    font-weight: bold;
}
form {
    padding-top: 60px;
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
}

form label {
    color: #312E2E;
    font-size: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

form input {
    height: 40px;
    border: none;
    border-radius: 5px;
}

#message{
    min-height: 200px;
    vertical-align : baseline;
}

/*MODAL LIGHTBOX*/
#lightBox_Modal{
    background-color: #fafafad5;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50px;
    top: 0;
    height: 100%;
    width: 100%;
}

.lightBoxContent{
    color :#901C1C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.lightBoxContent img{
    width: 730px;
    height: 600px;
}
.lightBoxContent video{
    padding-top: 100px;
    width: 60%;
    height: 60%;
}
.icon {
     position: absolute;
     padding-top: 100px;
     height: 100%;
     width: 100%;
     display: flex;
 }

.fleches {
     display: flex;
     width: 100%;
     margin: -250px 170px 0px 200px;
     justify-content: space-between;
     align-items: center;
 }
 .fleches i{
     font-size: 40px;
     color: #901C1C;

 }
 .icon img{
     position: relative;
     right: 200px;
     cursor: pointer;
     width: 40px;
     height: 40px;
     color :#901C1C;
 }



 /*TRI*/
 .filtres {
    width: 400px;
    margin-left: 100px;
    margin-top: 30px;
    list-style : none;
    display: flex;
 }

li{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
li .fas{
    margin-left: 50px;
}

.tri{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    background-color: #fff;
}

#select {
    width: auto;
}

.tri-item { 
    padding: 10px;
    color: #FAFAFA;
    background-color: #901C1C;
    width: 146px;
    border-bottom : #FAFAFA solid 1px;
}

.tri-item:hover{
    background-color: #D3573C;
    cursor: pointer;
}
      
#select li:not(#pop) {
    display: none;
}
      
#select:hover li:not(#pop) {
    display: block;
}
      

/*LIKES*/
.totalLikes {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right : 0;
    background-color: #DB8876;
    height: 35px ;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}



@media screen and (max-width: 780px) {
    .logo img{
        margin: auto;
    }

    .photograph-header{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    .photograph-header img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }

    .photograph-header h1{
        margin: auto;
    }

    .contact_button {
        font-size: 16px;
        width:auto;
        height: auto;
        margin: 20px;
    }
    
    .photograph-gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact_modal{
        left: 0;
        background-color: #fafafac7;
    }

    .modalBox{
        width: auto;
        padding-top: 30px;
        margin: 15px;
    }
    .modalBox header {
        display: flex;
        flex-direction: row;
    }

    .modalBox header h2 {
        font-size: 32px;
    }
    .modalBox header img{
       width: 30px;
    }

    .nom{
        font-size: 30px;
    }

    #lightBox_Modal{

    left: 0;
   
    }

    .lightBoxContent{
        margin-left: -50px;
    }

    .lightBoxContent img, video{
        width: 350px;
        height: 300px;
        margin-left: 45px;
    }

    .icon{
        padding-top: 40px;
        margin: 15px;
        height: 300px;
    }
    .icon img{
        right: 50px;
    }

    .fleches {
        margin: auto;

    }

}